# Texmaker #
############
*.log
*.aux
*.toc
*.pdf
*.gz
*.out
*.bbl
*.blg
*.dvi
*.glo
*.glsdefs
*.ist
*.loa
*.lof
*.lot
*.xdy

# Beamer #
##########
*.nav
*.snm
*.vrb

# Python #
##########
*.pyc

# SQL #
#######
*.sql

# Others #
##########
*.swp
*.7z
